header
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css")
    .header__column
        a(href=routes.home)
            i.fas.fa-utensils
    style.
        i {
            color: orange;
            margin: 20px 20px;

        },
        .header__column {
            width: 100px;
        }