doctype html
html
    head
        link(rel="stylesheet" href="style.css")
    body
        include ../partials/header

        main
            block content
            
        include ../partials/footer
