doctype html
html
    head
        link(rel="stylesheet", href="main.css")
    body
        include ../partials/header

        main
            block content
            
        include ../partials/footer
