extends layouts/main

block content
  p hi I'm home. made by pug template

  .join
    a(href=`${routes.join}`)
      p Join

  .upload
    a(href=`/food/${routes.fileUpload}`)
      p Upload

  .login
    a(href=`${routes.login}`)
      p login