extends layouts/main

block content
  p hi I'm home. made by pug template

  .food
    a(href=`${routes.food}`)
      p food

  .join
    a(href=`${routes.join}`)
      p Join

  .upload
    a(href=`/food/${routes.fileUpload}`)
      p Upload